name: Cloud Resume DevSecOps Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  id-token: write
  contents: read

jobs:
  # --- GATE 1: Security Scanning ---
  security_audit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: IaC Security Scan (Checkov)
        uses: bridgecrewio/checkov-action@master
        with:
          directory: infrastructure/
          framework: terraform
          # MAGIC FIX: Set this to true so the pipeline DOES NOT stop on errors
          soft_fail: true 

# --- GATE 2: Infrastructure Deployment ---
  deploy_infra:
    needs: security_audit
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    outputs:
      api_endpoint: ${{ steps.tf_out.outputs.api_endpoint }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # --- ADD THIS STEP HERE ---
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "latest"
      # --------------------------

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::009245114403:role/admin_role
          aws-region: us-east-1

      - name: Terraform Init & Apply
        working-directory: ./infrastructure
        run: |
          terraform init
          terraform apply -auto-approve

      - name: Get API URL Output
        id: tf_out
        working-directory: ./infrastructure
        run: echo "api_endpoint=$(terraform output -raw api_endpoint)" >> $GITHUB_OUTPUT
  # --- GATE 3: Frontend Sync ---
  deploy_frontend:
    needs: deploy_infra
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::009245114403:role/admin_role
          aws-region: us-east-1

      - name: Inject API URL into JS
        run: |
          API_URL="${{ needs.deploy_infra.outputs.api_endpoint }}"
          echo "Injecting API URL: $API_URL"
          sed -i "s|%%API_URL_PLACEHOLDER%%|$API_URL|g" js/main.js

      - name: S3 Sync
        run: |
          aws s3 sync . s3://aarondouglass.com --delete --exclude ".git/*" --exclude "infrastructure/*" --exclude ".github/*"

      - name: Invalidate CloudFront
        run: |
          DIST_ID=$(aws cloudfront list-distributions --query "DistributionList.Items[?Aliases.Items!=null] | [?contains(Aliases.Items, 'aarondouglass.com')].Id" --output text)
          if [ ! -z "$DIST_ID" ]; then
            aws cloudfront create-invalidation --distribution-id $DIST_ID --paths "/*"
          fi